:root {
    --active_color: rgb(80, 177, 206);
}

html,
body {
    /* width: 100px; */
    margin: 8px;
}

#popup_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center
}

#px_input {
    width: 60px;
    text-align: center;
    margin-bottom: 10px;
    outline: none;
}

#arrow_btn {
    width: 30px;
}

#arrow_btn:hover {
    cursor: pointer;
    fill: var(--active_color);
}

#arrow_btn:active {
    fill: var(--active_color);
    transform: translateY(2px);
}