:root {
    --active_color: rgb(80, 177, 206);
}

html,
body {
    width: 120px;
    margin: 0;
    padding: 0;
}

#popup_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding-top: 10px;
}

#icon_bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#px_input {
    width: 60px;
    text-align: center;
    margin-bottom: 10px;
    outline: none;
}

#arrow_btn {
    width: 30px;
    cursor: pointer;

    /* position: absolute;
    top: 0;
    left: 0; */
}

#arrow_btn:active {
    fill: var(--active_color);
    transform: translateY(2px);
}

.switch {
    /* display: flex;
    align-items: center;
    justify-content: center; */


    /* position: relative;
    display: inline-block; */
}

.switch input {
    /* opacity: 0;
    width: 0;
    height: 0; */
    display: none;
}

.switch input:checked+#arrow_btn {
    /* opacity: 0;
    width: 0;
    height: 0; */
    fill: var(--active_color);
}